#projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
}

#classProjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
}

.Project{
    padding: 2%;
    width: 45%;
    text-align: left; 
    
}

.Project img {
    width: 100%;
    aspect-ratio: 16 / 9; 
    object-fit: cover; 
    display: block; 
    margin-bottom: 1em; 
    border-radius: 8px; 
}



#personalProjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #f7f3f6;
    color: #151114;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

li{
    float:right;
    padding-right: 5px;
    margin-right: 1%;
}

#header{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
}

#header a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#header .floatRight{
    float: right;
}

#about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2%;
    justify-content: center;
}

#about-me h2{
    padding-top: 40px;
    margin-bottom: 2%;
    text-align: center;
    width: 100vw;
}

#about-me p{
    max-width: 60vw;
    margin-top: 2%;
}

#about-me img{
    max-width: 15%;
    margin-left: 2%;
    border-radius: 25px;
    aspect-ratio: 1 / 1;        
    object-fit: cover;
    width: 100%;
    display: block;
}
